<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-card-4 w3-padding w3-margin w3-round w3-light-grey">
    <p class="field">
      <%= form.label :name %><br/>
      <%= form.text_field :name %>
    </p>

    <p class="field">
      <%= form.label :description %><br/>
      <%= form.text_area :description %>
    </p>

    <p class="field">
      <%= form.label :user_id, "User" %><br/>
      <%= form.collection_select :user_id, User.all, :id, :full_name, prompt: "Select a user" %>
    </p>

    <p class="actions">
      <%= form.submit %>
    </p>
  </div>
<% end %>
