<tr id="<%= dom_id project %>">
  <td>
    <strong><%= project.name %></strong>
  </td>

  <td>
    <%= project.description %>
  </td>

  <td>
    <small>(<%= project.user.full_name %>)</small>
  </td>
  
  <td class="w3-center">
    <%= project.tasks_count %>
  </td>

  <td>
    <%= link_to '<i class="fa fa-eye"></i>'.html_safe, project, class: "w3-button" %>
  </td>
  <td>
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_project_path(project), class: "w3-button" %>
  </td>
  <td>
    <%= button_to '<i class="fa fa-trash"></i>'.html_safe, project, method: :delete, class: "w3-button" %>
  </td>
</tr>
