<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>

<table id="projects" class="w3-table-striped">
  <% @projects.each do |project| %>
    <tr id="<%= dom_id project %>">
      <%= render project %>
      <td>
        <%= link_to "Show this project", project %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "New project", new_project_path %>
