<div class="w3-cell-row">
    <%= image_tag 'logo.svg', alt: 'LOGO', class: "w3-container w3-cell w3-left", style: "height: 100px" %>

    <div class="w3-container w3-cell w3-left w3-right-align">
        <h1>John's Projects</h1>
        <span id="version">v25.0</span>
    </div>

    <div class="w3-container w3-cell w3-right">
        <table class="w3-table">
            <tr>
                <td class="w3-right-align">
                    <%= Task.new_status_count %>
                </td>
                <td class="w3-left-align">
                    <%= format_enum Task.statuses.key(0) %>
                </td>
                <td>&nbsp;</td><td>&nbsp;</td>
                <td>
                    <span class="w3-tag w3-round w3-green w3-center">
                    <%= format_enum shorten1 Task.levels.key(0) %>
                    </span>
                </td>
                <td class="w3-right-align">
                    <%= Task.low_level_count %>
                </td>
            </tr>

            <tr>
                <td class="w3-right-align">
                    <%= Task.in_progress_status_count %>
                </td>
                <td class="w3-left-align">
                    <%= format_enum Task.statuses.key(1) %>
                </td>
                <td>&nbsp;</td><td>&nbsp;</td>
                <td>
                    <span class="w3-tag w3-round w3-orange w3-center">
                    <%= format_enum shorten1 Task.levels.key(1) %>
                    </span>
                </td>
                <td class="w3-right-align">
                    <%= Task.medium_level_count %>
                </td>
            </tr>

            <tr>
                <td class="w3-right-align">
                    <%= Task.done_status_count %>
                </td>
                <td class="w3-left-align">
                    <%= format_enum Task.statuses.key(2) %>
                </td>
                <td>&nbsp;</td><td>&nbsp;</td>
                <td>
                    <span class="w3-tag w3-round w3-red w3-center">
                    <%= format_enum shorten1 Task.levels.key(2) %>
                    </span>
                </td>
                <td class="w3-right-align">
                    <%= Task.high_level_count %>
                </td>
            </tr>
        </table>
    </div>
</div>